# Binaries for programs and plugins
/bin
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Files for testing purpose

*.txt
*.json
config.*

# Dependency directories (remove the comment below to include it)
vendor/

# Internal packages
internal/config
internal/output

